.search-bar {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  outline: none;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 0.5rem;

  &:focus {
    border-color: var(--secondary-color-dark);
  }
}