.search-bar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.search-bar__input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0;
}

button.search-bar__button {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.25rem;
}