.footer {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__titulo {
  font-size: clamp(1rem, 4vw, 1.2rem);
  display: inline-block;
}

.footer__autor {
  color: hsla(0, 0%, 100%, 80%);
}